<h2>New Memo</h2>
<form method="post" action="/memo">
  <h3>Title</h3>
  <td><input type="text" name="title"></td>
  <h3>Text</h3> <textarea name="text"></textarea> <br> <input type="submit" value="save" class="save_button"> </form>
<div class="home_button">
  <form method="get" action="/memo"> <button type="submit">
    <i class="fas fa-home"></i>
    </button> </form>
</div>