<h2>Edit Memo</h2>
<form method="post" action="/memo/<%= @memo_data['id']%>">
  <h3>Title</h3>
  <td><input type="text" name="title" class="title_input_area" value="<%= CGI.escape_html(@memo_data['title'])%>" </td>
    <h3>Text</h3> <textarea name="text"><%= CGI.escape_html(@memo_data['text'])%></textarea> <br> <input type="submit" value="save" class="save_button"> <input type="hidden" name="id" value="<%= @memo_data['id']%>"> <input type="hidden" name="_method" value="patch"> </form>
<div class="home_button">
  <form method="get" action="/memo"> <button type="submit">
    <i class="fas fa-home"></i>
    </button> </form>
</div>