<div id="memo_card">
  <ul>
    <%= @list%>
  </ul>
</div>
<div class="button_to_create_new">
  <form method="get" action="http://127.0.0.1:4567/memo/new"> <button type="submit">
    <i class="fas fa-plus"></i>
    </button> </form>
</div>